<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<log4net debug="true">
	    <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="application.log" />
            <param name="AppendToFile" value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - %m%n" />
        </layout>
        </appender>	
	    <root>
        <level value="INFO" />
        <appender-ref ref="FileAppender" />
        </root>
	</log4net>

	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=(LocalDB)\MSSQLLocalDB;persist security info=False;initial catalog=student22" />
		<add name="ModelContainer" connectionString="metadata=res://*/Models.ModelContainer.csdl|res://*/Models.ModelContainer.ssdl|res://*/Models.ModelContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;persist security info=False;initial catalog=student22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	  <system.web>
    <machineKey validationKey="32E35872597989D14CC1D5D9F5B1E94238D0EE32CF10AA2D2059533DF6035F4F" decryptionKey="B179091DBB2389B996A526DE8BCD7ACFDBCAB04EF1D085481C61496F693DF5F4" />
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add applicationName="Test" connectionStringName="ApplicationServices" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Encrypted" requiresUniqueEmail="true" maxInvalidPasswordAttempts="15" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Test" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name="WEBTESTCOOKIES" loginUrl="~/Auth/Login" defaultUrl="~/Home/Index" timeout="500" />
    </authentication>
    <authorization />
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>